<div class="panel panel-primary">
  <div class="panel panel-heading">Bonjour</div>
  <div class="panel panel-body">
    <div>
      <div class="form-group">
        <label class="control-label">Id:</label>
        <label>{{enseignant.id}}</label>
      </div>
      <div class="form-group">
        <label class="control-label">Bonjour Mr:</label>
        <label>{{enseignant.login}}</label>
      </div>
      <div class="form-group">
        <label class="control-label">Password:</label>
        <label>{{enseignant.password}}</label>
      </div>

    </div>
  </div>
</div>

